.panel.panel-default
  .panel-heading
    .panel-title
      .fa.fa-file-text-o.title-text= " Edit User"
  .panel-body
    %form{action: "/users/#{@user.id}", method: "post"}
      %input{name: "_method", type: "hidden", value: "PUT"}
        = input :name, object: @user
        = input :email, object: @user, as: :email
        = input :password, object: @user, as: :password, label: "New password", placeholder: "Enter new password"
      %input{type: "submit", value: "Send", class: "btn btn-primary"}
