.panel.panel-default
  .panel-heading
    %h3.panel-title Users

  %table.table.table-bordered
    %tr
      %th Name
      %th Email
      %th Actions
    -@users.each do |user|
      %tr
        %td
          %a{href: "/users/#{user.id}/edit"}= user.name
        %td= user.email
        %td
          .btn-group
            %a.btn.btn-primary{href: "/users/#{user.id}/edit"} Edit
            %a.btn.btn-danger{href: "/users/#{user.id}/delete"} Delete

= will_paginate @users, renderer: BootstrapPagination::Sinatra
.row
  %a.btn.btn-primary{:href => '/users/new'} New User
